apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
spec:
  selector:
    app: rabbitmq
  type: NodePort
  ports:
  - name: amqp
    port: 80
    targetPort: 5672
  - name: management
    port: 15672
    targetPort: 15672