name: "BoardK8s - CI-CD"
run-name: "Pipeline CI-CD (BoardK8s) executado por ${{github.actor}}"

on:
  pull_request:
      branches: ['main']
      paths:
        - "src/BoardK8s/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Obtendo arquivos do projeto"
        uses: actions/checkout@v4
        
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
          
      - name: Execucao do comando buils
        working-directory: ./src/BoardK8s
        run: dotnet build Poc.BoardK8s.sln

  testes_qa:
   needs: [build]
   uses: fspelling/workflow_generics/.github/workflows/qa.yml@main
   secrets: inherit
   with:
     project_sonar: "board-k8s"
     file_solution: "Poc.BoardK8s.sln"

  release:
    needs: [testes_qa]
    runs-on: ubuntu-latest
    steps:
      - name: "Obtendo arquivos do projeto"
        uses: actions/checkout@v4
        
      - name: Analise dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: ./src/BoardK8s/Poc.BoardK8sApi/Dockerfile

      - name: Autenticacao no Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PWD }}
        
      - name: Build/Push da imagem Docker
        uses: docker/build-push-action@v5
        with:
          context: ./src/BoardK8s/Poc.BoardK8sApi
          file: ./src/BoardK8s/Poc.BoardK8sApi/Dockerfile
          push: true
          tags: |
            fspelling/boardk8s:latest
            fspelling/boardk8s:v${{ github.run_number }}

      - name: Scan trivy
        uses: aquasecurity/trivy-action@0.23.0
        with:
          scan-type: 'image'
          image-ref: fspelling/boardk8s:v${{ github.run_number }}
          format: sarif
          output: trivy-docker-result.sarif
          severity: 'UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL'
          
      - name: Publicando vulnerabilidades
        uses: github/codeql-action/upload-sarif@v3
        with:
          category: 'trivy-result'
          sarif_file: trivy-docker-result.sarif

  deploy_hml:
    needs: [release]
    uses: fspelling/workflow_generics/.github/workflows/deploy.yml@main
    secrets: inherit
    with:
      environment_name: hml
      host_name: homologacao.fspelling.net
      manifests: |
            ./src/ManifestsK8s/boards-k8s/service-account/service-account.yaml
            ./src/ManifestsK8s/boards-k8s/service-account/role.yaml
            ./src/ManifestsK8s/boards-k8s/service-account/role-binding.yaml
            ./src/ManifestsK8s/boards-k8s/deploy/configmap.yaml
            ./src/ManifestsK8s/boards-k8s/deploy/deployment.yaml
            ./src/ManifestsK8s/boards-k8s/deploy/service.yaml
            ./src/ManifestsK8s/boards-k8s/deploy/ingress.yaml

  testes_e2e:
    needs: [deploy_hml]
    runs-on: ubuntu-latest
    steps:
      - name: "Simulacao testes end-to-end"
        run: echo "Implementar testes end-to-end"

  deploy_prd:
    needs: [testes_e2e]
    uses: fspelling/workflow_generics/.github/workflows/deploy.yml@main
    secrets: inherit
    with:
      environment_name: prd
      host_name: producao.fspelling.net
      manifests: |
            ./src/ManifestsK8s/boards-k8s/service-account/service-account.yaml
            ./src/ManifestsK8s/boards-k8s/service-account/role.yaml
            ./src/ManifestsK8s/boards-k8s/service-account/role-binding.yaml
            ./src/ManifestsK8s/boards-k8s/deploy/configmap.yaml
            ./src/ManifestsK8s/boards-k8s/deploy/deployment.yaml
            ./src/ManifestsK8s/boards-k8s/deploy/service.yaml
            ./src/ManifestsK8s/boards-k8s/deploy/ingress.yaml
        
