name: "MonitorK8sPod - Pipeline Ci-CD"
run-name: "Pipeline CI-CD (MonitorK8sPod) executado por ${{github.actor}}"

on:
  pull_request:
      branches: ['main']
      paths:
        - "src/MonitorK8sPod/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Obtendo arquivos do projeto"
        uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: Execucao do comando buils
        working-directory: ./src/MonitorK8sPod
        run: dotnet build Poc.MonitorK8sPod.sln
